@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: eagleFont;
  src: url(../assets/fonts/EagleLake-Regular.ttf);
}

body {
  font-family: "Inter", sans-serif;
}

.button-cart {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.image-cart {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.card {
  width: 152px;
  height: 300px;
}

.figure-caption{
  height: 90px;
}

.input-quantity {
  width: 48px;
  height: 36px;
  border: solid 1px #d0d6dd;
  border-radius: 6px;
}

.form input {
  border: solid 1px #d0d6dd;
  border-radius: 6px;
  height: 36px;
}

.screen {
  width: 375px;
  background-color: #f2f4f7;
  margin:0 auto;
}
